# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Build files
/dist
/build
*.log
